alabaster==0.7.12
aldryn-apphooks-config==0.5.2
aldryn-boilerplates==0.8.0
aldryn-common==1.0.5
aldryn-search==1.0.1
altair==4.1.0
amqp==5.0.1
anaconda-client==1.7.2
anaconda-navigator==1.10.0
anaconda-project==0.8.3
appdirs==1.4.3
argh==0.26.2
argon2-cffi==20.1.0
asgiref==3.2.10
asn1crypto @ file:///tmp/build/80754af9/asn1crypto_1596577642040/work
astor==0.8.1
astroid==2.4.2
astropy==4.0.2
async-generator==1.10
atomicwrites==1.2.1
attrs==18.2.0
Automat==20.2.0
autopep8==1.5.4
Babel==2.6.0
backcall==0.2.0
backports.csv==1.0.7
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
base58==2.0.1
beautifulsoup4==4.9.3
billiard==3.6.3.0
bitarray @ file:///tmp/build/80754af9/bitarray_1603210375349/work
bkcharts==0.2
black==18.6b3
bleach==3.1.0
bokeh @ file:///tmp/build/80754af9/bokeh_1603297833684/work
bootstrap4==0.1.0
boto==2.49.0
boto3==1.14.31
botocore==1.17.31
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools==4.1.1
celery==5.0.0
certifi==2018.10.15
cffi==1.14.3
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-repl==0.1.6
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work
clyent==1.2.2
cmsplugin-filer==1.1.3
colorama @ file:///tmp/build/80754af9/colorama_1603211150991/work
conda==4.9.0
conda-build==3.20.4
conda-package-handling @ file:///tmp/build/80754af9/conda-package-handling_1603018141399/work
conda-verify==3.4.2
constantly==15.1.0
contextlib2==0.6.0.post1
coverage==4.5.1
cryptography @ file:///tmp/build/80754af9/cryptography_1601046815590/work
cssselect==1.1.0
cycler==0.10.0
Cython @ file:///tmp/build/80754af9/cython_1594831566883/work
cytoolz==0.11.0
dask @ file:///tmp/build/80754af9/dask-core_1602083700509/work
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20181111
distlib==0.3.1
distributed @ file:///tmp/build/80754af9/distributed_1602083887289/work
dj-database-url==0.5.0
dj-markdown==0.1.2
dj-static==0.0.6
Django==3.1.2
django-appconf==1.0.4
django-appdata==0.2.1
django-blog-it==0.3.1
django-blog-zinnia==0.20
django-ckeditor==5.7.1
django-classy-tags==0.9.0
django-cms==3.6.0
django-compressor==2.4
django-contrib-comments==1.9.2
django-crispy-forms==1.10.0
django-filer==1.5.0
django-filter==2.3.0
django-formtools==2.1
django-haystack==2.8.1
django-heroku==0.3.1
django-imagekit==4.0.2
django-js-asset==1.2.2
django-mptt==0.11.0
django-polymorphic==2.0.3
django-sekizai==1.0.0
django-simple-pagination==1.3
django-sortedm2m==2.0.0
django-spurl==0.6.6
django-standard-form==1.1.1
django-storages==1.7.2
django-tagging==0.5.0
django-taggit==1.3.0
django-tinymce==3.1.0
django-treebeard==4.3
django-xmlrpc==0.1.8
djangocms-admin-style==1.4.0
djangocms-attributes-field==1.1.0
docutils==0.15.2
easy-thumbnails==2.6
entrypoints==0.3
enum-compat==0.0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.0.12
flake8 @ file:///tmp/build/80754af9/flake8_1601911421857/work
Flask==1.1.2
fsspec @ file:///tmp/build/80754af9/fsspec_1602684995936/work
future==0.18.2
gevent @ file:///tmp/build/80754af9/gevent_1601397537062/work
gitdb==4.0.5
GitPython==3.1.9
glob2==0.7
gmpy2==2.0.8
greenlet @ file:///tmp/build/80754af9/greenlet_1600874013538/work
gunicorn==20.0.4
h5py==2.10.0
HeapDict==1.0.1
html5lib @ file:///tmp/build/80754af9/html5lib_1593446221756/work
hyperlink==20.0.1
idna==2.7
imageio @ file:///tmp/build/80754af9/imageio_1594161405741/work
imagesize==1.2.0
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
incremental==17.5.0
iniconfig @ file:///tmp/build/80754af9/iniconfig_1602780191262/work
intervaltree @ file:///tmp/build/80754af9/intervaltree_1598376443606/work
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==5.6.4
itemadapter==0.1.1
itemloaders==1.0.3
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.2
jeepney==0.4.3
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.17.0
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1598884538475/work
jupyter-core==4.6.3
jupyterlab==2.2.6
jupyterlab-pygments==0.1.2
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
keyring @ file:///tmp/build/80754af9/keyring_1601490835422/work
kiwisolver==1.2.0
kombu==5.0.2
lazy-object-proxy==1.4.3
libarchive-c==2.9
llvmlite==0.34.0
locket==0.2.0
lxml @ file:///tmp/build/80754af9/lxml_1603216285000/work
MarkupSafe==1.1.1
matplotlib==3.3.2
mccabe==0.6.1
microurl==0.1.1
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
more-itertools @ file:///tmp/build/80754af9/more-itertools_1598884071673/work
mots-vides==2015.5.11
mpmath==1.1.0
msgpack==1.0.0
multipledispatch==0.6.0
navigator-updater==0.2.1
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.1
networkx @ file:///tmp/build/80754af9/networkx_1598376031484/work
nltk @ file:///tmp/build/80754af9/nltk_1592496090529/work
nose==1.3.7
notebook==6.1.4
numba @ file:///tmp/build/80754af9/numba_1600100669015/work
numexpr==2.7.1
numpy==1.19.2
numpydoc @ file:///tmp/build/80754af9/numpydoc_1594166760263/work
odfpy==1.4.0
olefile==0.46
opencv-python==4.5.1.48
openpyxl==3.0.0
packaging==20.4
pandas==1.1.3
pandocfilters==1.4.2
parsel==1.6.0
parso==0.7.1
partd==1.1.0
path @ file:///tmp/build/80754af9/path_1598376507494/work
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
pilkit==2.0
Pillow==7.2.0
pkginfo==1.6.0
pluggy==0.13.1
ply==3.11
prometheus-client==0.8.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
Protego==0.1.16
protobuf==3.13.0
psutil @ file:///tmp/build/80754af9/psutil_1598370257551/work
psycopg2==2.8.5
psycopg2-binary==2.8.6
ptyprocess==0.6.0
py @ file:///tmp/build/80754af9/py_1593446248552/work
pyarrow==2.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.20
pycurl==7.43.0.6
pydeck==0.5.0b1
PyDispatcher==2.0.5
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1598885001695/work
pyflakes==2.2.0
Pygments @ file:///tmp/build/80754af9/pygments_1600458456400/work
PyHamcrest==2.0.2
pylint==2.6.0
pylint-django==2.3.0
pylint-plugin-utils==0.6
pyodbc===4.0.0-unsupported
pyOpenSSL==19.1.0
pyparsing==2.4.7
pypi==2.1
pyrsistent==0.17.3
PySocks==1.7.1
pytest==0.0.0
python-dateutil==2.8.1
python-jsonrpc-server @ file:///tmp/build/80754af9/python-jsonrpc-server_1600278539111/work
python-language-server @ file:///tmp/build/80754af9/python-language-server_1600454544709/work
pytz==2020.1
PyWavelets @ file:///tmp/build/80754af9/pywavelets_1601658317819/work
pyxdg==0.26
PyYAML==5.3.1
pyzmq==19.0.2
QDarkStyle==2.8.1
QtAwesome @ file:///tmp/build/80754af9/qtawesome_1602272867890/work
qtconsole @ file:///tmp/build/80754af9/qtconsole_1600870028330/work
QtPy==1.9.0
queuelib==1.5.0
rcssmin==1.0.6
regex==2020.9.27
requests==2.19.1
rjsmin==1.1.0
rope @ file:///tmp/build/80754af9/rope_1602264064449/work
Rtree==0.9.4
ruamel-yaml==0.15.87
s3transfer==0.3.3
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.2
Scrapy==2.4.0
seaborn @ file:///tmp/build/80754af9/seaborn_1600553570093/work
SecretStorage==3.1.2
Send2Trash==1.5.0
service-identity==18.1.0
simplegeneric==0.8.1
singledispatch @ file:///tmp/build/80754af9/singledispatch_1602523705405/work
sip==4.19.13
six==1.15.0
smmap==3.0.4
snowballstemmer==2.0.0
sorl-thumbnail==12.7.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
Sphinx @ file:///tmp/build/80754af9/sphinx_1597428793432/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport @ file:///tmp/build/80754af9/sphinxcontrib-websupport_1597081412696/work
spyder @ file:///tmp/build/80754af9/spyder_1599056981321/work
spyder-kernels @ file:///tmp/build/80754af9/spyder-kernels_1599056754858/work
SQLAlchemy @ file:///tmp/build/80754af9/sqlalchemy_1598374728542/work
sqlparse==0.4.1
static3==0.7.0
statsmodels @ file:///tmp/build/80754af9/statsmodels_1602280205159/work
streamlit==0.69.2
style==1.1.0
sympy @ file:///tmp/build/80754af9/sympy_1598376323917/work
tables==3.6.1
tblib @ file:///tmp/build/80754af9/tblib_1597928476713/work
terminado==0.9.1
testpath==0.4.4
threadpoolctl==2.1.0
tifffile==2020.10.1
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
toolz==0.11.1
tornado==6.0.4
tqdm @ file:///tmp/build/80754af9/tqdm_1602185206534/work
traitlets==5.0.5
Twisted==20.3.0
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1598376058250/work
tzlocal==2.1
ua-parser==0.10.0
ujson @ file:///tmp/build/80754af9/ujson_1602523317881/work
unicodecsv==0.14.1
Unidecode==1.0.23
update==0.0.1
urllib3==1.23
URLObject==2.4.3
user-agents==2.2.0
validators==0.18.1
vine==5.0.0
virtualenv==20.4.3
w3lib==1.22.0
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
whitenoise==5.1.0
widgetsnbextension==3.5.1
wrapt==1.12.1
wurlitzer @ file:///tmp/build/80754af9/wurlitzer_1594753850195/work
xlrd==1.2.0
XlsxWriter @ file:///tmp/build/80754af9/xlsxwriter_1602692860603/work
xlwt==1.3.0
xmltodict==0.12.0
yapf @ file:///tmp/build/80754af9/yapf_1593528177422/work
YURL==1.0.0
zict==2.0.0
zipp==3.3.0
zope.event==4.5.0
zope.interface==5.1.2
