{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Enrique_Photos &mdash; Gallery</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static 'css/photos/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/photos/ss/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'css/photos/css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'css/photos/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/photos/css/owl.theme.default.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/photos/ss/lightgallery.min.css' %}">    

  <link rel="stylesheet" href="{% static 'css/photos/css/bootstrap-datepicker.css' %}">

  <link rel="stylesheet" href="{% static 'css/fonts/flaticon/font/flaticon.css' %}">

  <link rel="stylesheet" href="{% static 'css/photos/ss/swiper.css' %}">

  <link rel="stylesheet" href="{% static 'css/photos/css/aos.css' %}">

  <link rel="stylesheet" href="{% static 'css/photos/css/style.css' %}">

</head>
<body>

  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    



    <header class="site-navbar py-3" role="banner">

      <div class="container-fluid">
        <div class="row align-items-center">

          <div class="col-6 col-xl-2" data-aos="fade-down">
            <h1 class="mb-0"><a href="{% url 'home' %}" class="text-white h2 mb-0">Enrique_Photos</a></h1>
          </div>
          <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
            <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">

              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                <li class="active"><a href="{% url 'home' %}">Home</a></li>
                <li class="has-children">
                  <a href="{% url 'photos' %}">Gallery</a>
                  <ul class="dropdown">
                    <li><a href="#">Nature</a></li>
                    <li><a href="#">Portrait</a></li>
                    <li><a href="#">People</a></li>
                    <li><a href="#">Architecture</a></li>
                    <li><a href="#">Animals</a></li>
                    <li><a href="#">Sports</a></li>
                    <li><a href="#">Travel</a></li>
                    <li class="has-children">
                      <a href="#">Sub Menu</a>
                      <ul class="dropdown">
                        <li><a href="#">Menu One</a></li>
                        <li><a href="#">Menu Two</a></li>
                        <li><a href="#">Menu Three</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="{% url 'services' %}">Services</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </nav>
          </div>

          <div class="col-6 col-xl-2 text-right" data-aos="fade-down">
            <div class="d-none d-xl-inline-block">
              <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0" data-class="social">
                <li>
                  <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                </li>
                <li>
                  <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                </li>
                <li>
                  <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                </li>
                <li>
                  <a href="#" class="pl-3 pr-3"><span class="icon-youtube-play"></span></a>
                </li>
              </ul>
            </div>

            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div>
      
    </header>



    <div class="container-fluid" data-aos="fade" data-aos-delay="500">
      <div class="row">
        <div class="col-lg-4">

          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">eli</h2>
              <a href="{% url 'morephotos' %}" class="btn btn-outline-white py-2 px-4">More Photos</a>
            </div>
            <img src="{% static 'images/photos/images/ngesh.jpg' %}" alt="Image" class="img-fluid">
          </div>

        </div>
        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Young%&Dumb</h2>
              <a href="{% url 'morephotos' %}" class="btn btn-outline-white py-2 px-4">More Photos</a>
            </div>
            <img src="{% static 'images/photos/images/ngesh.jpg' %}" alt="Image" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Family</h2>
              <a href="{% url 'morephotos' %}" class="btn btn-outline-white py-2 px-4">More Photos</a>
            </div>
            <img src="{% static 'images/photos/images/ngesh.jpg' %}" alt="Image" class="img-fluid">
          </div>
        </div>

        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Architecture</h2>
              <a href="{% url 'morephotos' %}" class="btn btn-outline-white py-2 px-4">More Photos</a>
            </div>
            <img src="{% static 'images/photos/images/img_4.jpg' %}" alt="Image" class="img-fluid">
          </div>
        </div>

        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Animals</h2>
              <a href="single.html" class="btn btn-outline-white py-2 px-4">More Photos</a>
            </div>
            <img src="{% static 'images/photos/images/img_5.jpg' %}" alt="Image" class="img-fluid">
          </div>
        </div>

        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Tiffany</h2>
              <a href="{% url 'morephotos' %}" class="btn btn-outline-white py-2 px-4">More Photos</a>
            </div>
            <img src="{% static 'images/photos/images/tiffa.jpg' %}" alt="Image" class="img-fluid">
          </div>
        </div>

        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Phillis</h2>
              <a href="{% url 'morephotos' %}" class="btn btn-outline-white py-2 px-4">More Photos</a>
            </div>
            <img src="{% static 'images/photos/images/img_7.jpg' %}" alt="Image" class="img-fluid">
          </div>
        </div>

        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">People</h2>
              <a href="{% url 'morephotos' %}" class="btn btn-outline-white py-2 px-4">More Photos</a>
            </div>
            <img src="{% static 'images/photos/images/img_3.jpg' %}" alt="Image" class="img-fluid">
          </div>
        </div>

        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Architecture</h2>
              <a href="{% url 'morephotos' %}" class="btn btn-outline-white py-2 px-4">More Photos</a>
            </div>
            <img src="{% static 'images/photos/images/img_4.jpg' %}" alt="Image" class="img-fluid">
          </div>
        </div>

      </div>
    </div>

  
    
  </div>

  <script src="{% static 'js/photos/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/photos/s/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/photos/js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/photos/js/popper.min.js' %}"></script>
  <script src="{% static 'js/photos/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/photos/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/photos/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/photos/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/photos/js/jquery.magnific-popup.min.j' %}"></script>
  <script src="{% static 'js/photos/js/bootstrap-datepicker.min.j' %}"></script>
  <script src="{% static 'js/photos/js/swiper.min.js' %}"></script>
  <script src="{% static 'js/photos/js/aos.js' %}"></script>

  <script src="{% static 'js/photos/js/picturefill.min.js' %}"></script>
  <script src="{% static 'js/photos/js/lightgallery-all.min.js' %}"></script>
  <script src="{% static 'js/photos/js/jquery.mousewheel.min.js' %}"></script>

  <script src="{% static 'js/photos/js/main.js' %}"></script>
  
  <script>
    $(document).ready(function(){
      $('#lightgallery').lightGallery();
    });
  </script>

</body>
</html>