{% load static %}
<html>

<head>
    
    <title>Java Arrays</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />


</head>

<body>

    <div class="container">



        <nav class="navbar navbar-expand-lg navbar-light bg-ui mt-2" style="border-radius:50px;">
            <a class="navbar-brand text-light font-weight-bold" href="/">Eclipse Coders</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto topnav ">
                    <li class="nav-item active">
                        <a class="nav-link text-light" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" style="color: #fff;" href="#">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" style="color: #fff;" href="#">Our Services</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-light" style="color: #fff;" href="#">Forums</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" style="color: #fff;" href="#">Dvelopers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" style="color: #fff;" href="#">Code Challenges</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-light" style="color: #fff;" href="/contact">Contact Us</a>
                    </li>
                    <li class="">
                        <button type="button" class="btn btn-outline-warning">Sign in / Register</button>
                    </li>

                </ul>
            </div>

            <!-- The Modal -->
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Customer Sign In</h4>
                            <button type="button" class="close" data-dismiss="modal">×</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <form>
                                <label class="sr-only" for="usrname">Username</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="fa fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                                        aria-describedby="basic-addon1">
                                </div>


                                <label class="sr-only" for="Password">Name</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon2"><i
                                                class="fa fa-key"></i></span>
                                    </div>
                                    <input id="Password" type="password" class="form-control" placeholder="Password"
                                        aria-label="Password" aria-describedby="basic-addon2">
                                </div>
                            </form>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Sign In</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>


        </nav>
    </div>


{% block content %}
    <form action="" method="post">
        {% csrf_token %}

        {% for java in todo_list %}
        <ul>
            <h1>{{ java.title }}</h1>
            <p>{{ java.body }}</p>


        </ul>



        {% endfor %}

    </form>

{% endblock %}


    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

</body>

</html>